body {
  background-color: #444;
  overflow-x: hidden;
}

.border-maincolor {
  border-bottom: 2px solid #D6812B;
}

.landing {
  background-image: url(../imgs/img-3.jpg);
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landing nav .navbar-brand img {
  width: 100px;
}
.landing nav .navbar-collapse .navbar-nav .nav-item {
  text-align: center;
  font: normal normal bold 16px/18px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.landing nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid #D6812B;
}
.landing nav .navbar-collapse form button {
  border-radius: 100px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/18px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.landing nav .navbar-collapse form button.login {
  background: rgba(255, 255, 255, 0.3490196078) 0% 0% no-repeat padding-box;
  border: 3px solid #D5D5D5;
}
.landing nav .navbar-collapse form button.whitelist {
  background: rgba(237, 140, 43, 0.4549019608) 0% 0% no-repeat padding-box;
  border: 3px solid #D6812B;
}
.landing .landing-content .row h2 {
  text-align: left;
  font: normal normal 800 55px/60px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.landing .landing-content .row p {
  font-size: 28px;
}
.landing .landing-content .swiper-content h4 {
  text-align: left;
  font: normal normal 800 32px/60px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.landing .landing-content .swiper-content .swiper {
  height: 320px;
}
.landing .landing-content .swiper-content .swiper .swiper-slide {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(74, 90, 105, 0)), to(rgba(74, 90, 105, 0.9019607843))) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(74, 90, 105, 0) 0%, rgba(74, 90, 105, 0.9019607843) 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 110%;
  border-radius: 12px;
  position: relative;
}
.landing .landing-content .swiper-content .swiper .swiper-slide .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}
.landing .landing-content .swiper-content .swiper .swiper-slide .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(213, 213, 213, 0.2392156863);
  opacity: 0.5;
}
.landing .landing-content .swiper-content .swiper .swiper-slide .text h4 {
  text-align: left;
  font: normal normal 800 20px/18px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.landing .landing-content .swiper-content .swiper .swiper-slide .text p {
  text-align: left;
  font: normal normal bold 14px/18px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.landing .landing-content .swiper-content .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.landing .landing-content .swiper-content .swiper .swiper-pagination {
  bottom: -30px;
}
.landing .landing-content .swiper-content .swiper .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  font-size: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.landing .landing-content .swiper-content .swiper .swiper-button-next::after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.3490196078) 0% 0% no-repeat padding-box;
  border: 3px solid #D5D5D5;
  opacity: 1;
  color: white;
}

.bliv {
  background-image: url(/imgs/black-bg.jpg);
  background-size: cover;
  position: relative;
}
.bliv .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3607843137);
  z-index: 0;
}
.bliv .container {
  position: relative;
  z-index: 1000;
}
.bliv .container .row img {
  height: 100%;
}
.bliv .container .row .text h4 {
  text-align: left;
  font: normal normal 800 42px/52px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.bliv .container .row .text p {
  text-align: left;
  font: normal normal 600 18px/28px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.bliv .container .row .text button {
  color: white;
}
.bliv .container .row .text button.whitelist {
  background: rgba(237, 140, 43, 0.4549019608) 0% 0% no-repeat padding-box;
  border: 3px solid #D6812B;
}
.bliv .container .main-head {
  text-align: left;
  font: normal normal 800 32px/60px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.bliv .container .row .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

footer .row.footer-text {
  background: #3C444D 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
footer .row h4 {
  text-align: left;
  font: normal normal 800 28px/60px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
footer .row button {
  background: rgba(237, 140, 43, 0.4549019608) 0% 0% no-repeat padding-box;
  border: 3px solid #D6812B;
  border-radius: 100px;
  opacity: 1;
}
footer .row .copy-right p {
  text-align: center;
  font: normal normal 600 14px/18px Red Hat Display;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
footer .row .copy-right .icons {
  margin-bottom: 16px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .row .copy-right .icons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: black;
  background-color: white;
  margin-left: 4px;
  cursor: pointer;
}